[bastion]
${bastion_ip}

[all:vars]
ansible_user=ec2-user
ansible_ssh_private_key_file=~/.ssh/key-us-east-1.pem

region=${region}
dns_name=${dns_name}
bastion_ip=${bastion_ip}

efs_id=${efs_id}
efs_ap_id=${efs_ap_id}

db_name=${db_name}
db_user=${db_user}
db_password_name=${db_password_name}
db_host=${db_host}

mysql_user=${mysql_user}
mysql_password_name=${mysql_password_name}